*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*---------------------------------------------------*/
/*                COLORES Y FUENTES
/*---------------------------------------------------*/
:root
{
    --ColorPrincipal:  #161a1e;
    --ColorSecundario: #30373d;
    --ColorDetalle: #f7a800;

}
@font-face {
    font-family: 'Bungee';
    src: url(../diseño/fonts/BungeeSpice-Regular.ttf);
}

@font-face {
    font-family: 'Oswald';
    src: url(../diseño/fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Quicksand';
    src: url(../diseño/fonts/Quicksand-VariableFont_wght.ttf);
}



/*---------------------------------------------------*/
/*                HEADER
/*---------------------------------------------------*/


header {
    background-color: var(--ColorPrincipal);
    width: 100%;
    height: 2.5cm;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand';
}

.header-logo{
    width: 30%;
    height: 2.5cm;
    
}
#logo{
    position: absolute;
    left: 3cm;
    top: 30px;
}
.header-menu{
    color: white;
    width: 70%;
    height: 2.5cm;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav  li{
    display: inline;
    list-style-type: none;
    margin-left: 1cm;

    
  
}

nav li a{
    height: 5cm;
    width: 50%;
    text-decoration: none;
    color: white;
}


nav li a:hover{
   
    background-color: var(--ColorSecundario);
    color: white;
   
}


/*---------------------------------------------------*/
/*               main
/*---------------------------------------------------*/

main{
    width: 100%;
    height: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    padding: 0;
    margin: 0;
    background-color: #f7a800;
    background-size: 56px 56px;
    background-image:
    linear-gradient(
        135deg,
        transparent 55%,
        #f7a800 55%
    ),
     radial-gradient(
        transparent 6px,
        #ffffff 6px,
        #ffffff 10px,
        transparent 10px,
        transparent 15px,
        #ffffff 15px,
        #ffffff 19px,
        transparent 19px,
        transparent 24px,
        #ffffff 24px,
        #ffffff 28px,
        transparent 28px
    );
}



form{
   border-radius: 10px ;
   width: 50%;
   height: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: var(--ColorPrincipal);
   opacity: 98%;

}


form input, textarea{
    height: 1cm;
    width: 90%;
    margin-top: 0.5cm;
 
    
}

.registro button{
    height: 1cm;
    width: 50%;
    margin-top: 0.5cm;
    background: var(--ColorPrincipal);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 1px solid var(--ColorSecundario);
}

.registro button:hover{
    background-color: var(--ColorSecundario);
}
/*---------------------------------------------------*/
/*               main:formulario 1
/*---------------------------------------------------*/


#form-mensaje1{
    border: 10px solid var(--ColorPrincipal);
    width: 50%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--ColorPrincipal);

 
 }
 
 
 #form-mensaje1 input{
    height: 1cm;
    width: 90%;
    margin-top: 0.5cm;
  
     
}

#form-mensaje1 textarea {
    height: 3cm;
    width: 90%;
}

textarea::placeholder{
    color: #161a1e;
}
 
#form-mensaje1 button{
    height: 1cm;
    width: 50%;
    margin-top: 0.5cm;
    border-radius: 10px;
    color: white;
    background-color: #161a1e;
    cursor: pointer;
}

/*---------------------------------------------------*/
/*              MODAL
/*---------------------------------------------------*/

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    padding: 1rem;
    visibility: hidden;
    opacity: 0;


}

.modal-presentacion, .es-visible{
    opacity: 1;
    visibility:visible;
}


.modal .modal-contenido{
    position: relative;
    height:  300px;
    width: 500px;
    background: var(--ColorPrincipal);
    cursor:default;
    border-radius: 5px;


}

.modal-contenido .header{
    float: right;

}


.modal .modal-contenido .cerrar-modal{
    font-size: 1.5rem;
    border-radius: 50%;
}


.modal-contenido section{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2cm;
  
}

.modal-contenido h3{
    color: white;
    margin-top: 1.5cm;
    font-family: 'Bungee';
}

.modal-contenido img{
    width: 70px;
    height: 70px;
}

.abrir-modal{
    border-radius: 5px;
    font-weight: bold;
    margin: 1rem;
    padding: 0.75rem 1.75rem;
    color: white;
}

/*---------------------------------------------------*/
/*               footer: 
/*---------------------------------------------------*/


footer{
    width: 100%;
    height: 5cm;
    display: flex;
    flex-direction: row;
    justify-content: center;
    clear: both;
    background-color: var(--ColorPrincipal);
    align-items: center;
  
}


footer li{
    list-style-type: none;
    display: inline;
    margin-left: 1cm;
}


.footer-info{
    margin-top: 1cm;
    padding: 15px 30px;

}

.footer-info p{
    color: white;
    cursor: pointer;
    font-family: 'Oswald';
}