*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  header{
    display: flex;
    flex-direction: row;
    align-items: center;


  }
  #logo{
    visibility: hidden;
  }
  
}

/*---------------------------------------------------*/
/*                COLORES Y FUENTES
/*---------------------------------------------------*/
:root
{
    --ColorPrincipal:  #161a1e;
    --ColorSecundario: #30373d;
    --ColorDetalle: #f7a800;


}

@font-face {
  font-family: 'Bungee';
  src: url(../diseño/fonts/BungeeSpice-Regular.ttf);
}

@font-face {
  font-family: 'Oswald';
  src: url(../diseño/fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Quicksand';
  src: url(../diseño/fonts/Quicksand-VariableFont_wght.ttf);
}


/*---------------------------------------------------*/
/*                HEADER
/*---------------------------------------------------*/


header {
    background-color: var(--ColorPrincipal);
    width: 100%;
    height: 2.5cm;
    display: flex;
    flex-direction: row;
    align-items: center;
  
}

.header-logo{
    width: 30%;
    height: 2.5cm;
}

#logo{
  position: absolute;
  top: 1cm;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 200px;
  height: 40px;
  font-family: 'Quicksand';
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: var(--ColorDetalle);
  background: linear-gradient(90deg, var(--ColorDetalle) 0%, var(--ColorDetalle) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px var(--ColorDetalle);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  margin-left: 15cm;

  }


.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}



/*---------------------------------------------------*/
/*          MAIN: contiene sidebar y contenido
/*---------------------------------------------------*/

main{
  display: flex;
  flex-direction: row;
    width: 100%;
    height: 800px;
  background-color: #f7a800;

}


/*---------------------------------------------------*/
/*              MAIN: contenido
/*---------------------------------------------------*/

.contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 800px;
  margin-left: 2cm;
}

.card{
  display: flex;
  margin-top: 1cm;
}

/*---------------------------------------------------*/
/*               footer: 
/*---------------------------------------------------*/


footer{
    clear: both;
    width: 100%;
    height: 5cm;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--ColorPrincipal);
  
}
