*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/*---------------------------------------------------*/
/*                COLORES Y FUENTES
/*---------------------------------------------------*/
:root
{
    --ColorPrincipal:  #161a1e;
    --ColorSecundario: #30373d;
    --ColorTerciario: #b6bcc2;
    --ColorDetalle: #f7a800;

}

@font-face {
    font-family: 'Bungee';
    src: url(../diseño/fonts/BungeeSpice-Regular.ttf);
}

@font-face {
    font-family: 'Oswald';
    src: url(../diseño/fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Quicksand';
    src: url(../diseño/fonts/Quicksand-VariableFont_wght.ttf);
}

/*---------------------------------------------------*/
/*                HEADER
/*---------------------------------------------------*/


header {
    background-color: var(--ColorPrincipal);
    width: 100%;
    height: 2.5cm;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand';
}

.header-logo{
    width: 30%;
    height: 2.5cm;

}

.header-menu{
    color: white;
    width: 70%;
    height: 2.5cm;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav  li{
    display: inline;
    list-style-type: none;
    margin-left: 1cm;

    
  
}

nav li a{
    height: 5cm;
    width: 50%;
    text-decoration: none;
    color: white;
}


nav li a:hover{
   
    background-color: var(--ColorSecundario);
    color: white;
   
}

/*--------------------------------------------------*/
/*               main: CARRUSEL
/*---------------------------------------------------*/

.carrusel{
    position: relative;
    background-color: var(--ColorSecundario);
}

/*---------------------------------------------------*/
/*               main: CARDS + boton whatsapp
/*---------------------------------------------------*/
.contenedor-cards{
    width: 100%;
    height: 20cm;
    background-color: #e4f1f5;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.whatsapp{

    position: sticky;
    top: 90%;
    left: 100%;
    width: 100%;
    height: 70px;
}
.whatsapp img{
    width: 70px;
    height: 70px;
}

#cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 16cm;
    background-color: #e4f1f5;
  
}


.col1-contenido, .col2-contenido, .col3-contenido{
    height: 100%;
    width: 100%;
    font-family: 'Quicksand';

}


.col1-color{
    background-image: url(../diseño/img/card1.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}


.col1 h4, .col2 h4, .col3 h4{
    color: red;
    font-family: 'Oswald';
}


.col2-color{
    background-image: url(../diseño/img/card2.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

.col3-color{
    background-image: url(../diseño/img/card3.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 1px;
}



.col1, .col2, .col3{

    width: 30%;
    height: 9cm;
    border-radius: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;

}

.col1:hover, .col2:hover, .col3:hover{
    border: 2px solid red;
    font-size: 18px;

}

.col1:hover a, .col2:hover a, .col3:hover a{
    color: red;
    font-weight: bold;
}

#aside-cards{
    width: 30%;
    height: 16cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
    padding: 15px;
    
}

#aside-cards ul{
    list-style-type: none;

}
#aside-cards ul li{
    margin-top: 0.8cm;
    width: 100%;
}
#aside-cards img{
    width: 75px;
    height: 70px;
    border: #c1c8ce solid 1px;
    padding: 15px;
}



/*---------------------------------------------------*/
/*               main: BIG CARDS
/*---------------------------------------------------*/

.contenedor-big-cards{
    width: 100%;
    height: 40cm;
    display: flex;
    flex-direction: row;

}

#big-cards1{
    width: 37%;
    height: 40cm;
    position: absolute;
    left: 3cm;
    top: 37cm;


}

.ca1{
    
    height: 18cm;
    background-color: rgb(214, 209, 209);
    border-radius: 25px;
    margin-bottom: 1cm;
}

.ca1-contenido, .ca2-contenido, .ca3-contenido, .ca4-contenido {
 
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;

}

.ca1-fondo{
    background-image: url(../diseño/img/ca1.jpg);
    border-radius: 15px;
    width: 100%;
    height: 70%;
}

.ca2{
    height: 18cm;
    background-color: black;
    color: white;
    border-radius: 25px;
    margin-bottom: 1cm;
}


.ca1 button, .ca2 button, .ca3 button, .ca4 button{
    color: red;
    background-color: white;
    border-radius: 15px;
    border: none;
    padding: 5px;


}

.ca1 button:hover, .ca2 button:hover, .ca3 button:hover, .ca4 button:hover{
    background-color: red;
    color: white;
}

.ca2-fondo{
    background-image: url(../diseño/img/ca2.jpg);
    border-radius: 15px;
    width: 100%;
    height: 70%;
}


#big-cards2{
    width: 37%;
    position: absolute;
    left: 18cm;
    top: 41cm;

}

.ca3{
    height: 18cm;
    background-color: rgb(75, 43, 17);
    border-radius: 25px;
    margin-bottom: 1cm;
    color: white;
}

.ca3-fondo{
    background-image: url(../diseño/img/ca3.jpg);
    border-radius: 15px;
    width: 100%;
    height: 70%;
}


.ca4{
    height: 18cm;
    background-color:  rgb(214, 209, 209);
    border-radius: 25px;
    margin-bottom: 1cm;
}

.ca4-fondo{
    background-image: url(../diseño/img/ca4.jpg);
    border-radius: 15px;
    width: 100%;
    height: 70%;
}
/*---------------------------------------------------*/
/*               main: NEWSLETTER
/*---------------------------------------------------*/
#newsletter{
    background-color: var(--ColorDetalle);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;


}
.newsletter{
    margin-top: 0.5cm;
    display: flex;
    align-items: center;

}
 
.newsletter input{
    width: 10cm;
    height: 1cm;
}

#btnNewsletter{
    width: 50px;
    height: 40px;
    margin-left: 0.2cm;
    background-color: #f7a800;
    border: 1px solid black;
    border-radius: 15px;
    font-family: 'Quicksand';
    padding: 1px;
}

span{
    width: 100px;
    height: 1cm;
    color: red;
    margin-left: 0.5cm;
    font-size: medium;
    font-weight: bolder;
    font-family: 'Quicksand';
    text-align: center;
}

/*---------------------------------------------------*/
/*               main: Informacion
/*---------------------------------------------------*/

.informacion{
    width: 100%;
    height: 2cm;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.informacion li{
    list-style-type: none;
    display: inline;
    margin-left: 1cm;
  
}

.informacion a{
    font-size: 1.2em;
}

.informacion li b{
    font-size: larger;

}

.informacion img{
    width: 40px;
    height: 2cm;
    cursor: pointer;
    margin-left: 0.3cm;
}




/*---------------------------------------------------*/
/*               footer: 
/*---------------------------------------------------*/


footer{

    clear: both;
    width: 100%;
    height: 9cm;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--ColorPrincipal);
      
}


footer li{
    list-style-type: none;
    display: inline;
    margin-left: 1cm;
}


.footer-info{
    margin-top: 1cm;
    padding: 25px 30px;
    display: flex;

    justify-content: center;

}

.footer-info p{
    color: white;
    cursor: pointer;
    width: 85%;
    font-family: 'Oswald';

}

.footer-logo img{
    width: 90%;
    height: 2.5cm;
}

footer cite{
    color: white;
}